RewriteEngine On

# Remove trailing slash (optional)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} /$
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Redirect all non-existing files and directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

slug = "notes";


# http://localhost:8000/api/
RewriteRule ^testname/([a-z0-9-]+)$ testname/index.php?slug=$1 [L]